$azul: blue;

#element1 {
  font-size: 4em;
  p {
    font-size: 3em;
    a {
      font-size: 2em;
      &.special {
        font-weight: bold;
      }
    }
    &.special {
      color: $azul;
    }
  }
}
div.special{
  color: $azul;
}
